################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/sys-approver/v16/.suo
/.vs/slnx.sqlite
/src/SysApprover.WebApi/.vs/SysApprover.WebApi/v16/.suo
